.container{
    background-color: #eaeeff;
    height: 800px;
    width: 810px;
}

.addButton{
    width: 744px;
    height: 54px;
    margin: 25px 32px 12px;
    padding: 18px 299px 17px 301px;
    border-radius: 8px;
    border: dotted 2px #2f04ce;
    background-color: rgba(255, 255, 255, 0.5);
    color: #2f04ce;
}

.compTitle{
    width: 254px;
    height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4f4f4f;
    padding: 1.5rem;
}

.fieldLength{
    width: 87px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4f4f4f;
    margin-left: 1.5rem;
}