.values{
    display: flex;
    justify-content: space-between;
   }
   .valueCard{
       width: 1081px;
       height: 54px;
       margin: 10px 32px 8px;
       padding: 19px 24px 17px 34px;
       border-radius: 8px;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
       background-color: #ffffff;
   }
   .heading{
       display: flex;
       justify-content: space-between;
   }
   .addButton{
       width: 143px;
       height: 20px;
       margin: 38px 32px 37px 356px;
       font-family: Montserrat;
       font-size: 17px;
       font-weight: 500;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: center;
       color: #2f04ce;
   }
   .entries{
       width: 241px;
       height: 34px;
       margin: 29px 92px 32px 32px;
       font-family: Montserrat;
       font-size: 28px;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       color: #4f4f4f;
   }