.NavContainer{
    display: flex;
}

.AppNameContainer {
    width: 295px;
    height: 62px;
    margin: 0 0 36px;
    padding: 16px 190px 12px 23px;
    background-color: #5904ce;
}

.AppName{
    width: 82px;
    height: 34px;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 1rem 0 1rem 0;
}

.TitleContainer{
    width: 1145px;
  height: 62px;
  margin: 0 0 29px;
  padding: 21px 960px 17px 32px;
  background-color: #ffffff;
}

.Title{
    width: 153px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4f4f4f
}